.icon-48-donations {
      background-image: url(../images/l_donations.png);
      padding-left:60px!important;
}

.icon-48-donation {
      background-image: url(../images/l_donations.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}