#ngo_list .ngo-row{
	cursor:pointer;
}

#ngo_list .ngo-row:hover .ngoName{
	padding-right:20px;
	color:#e5097f;
}

/* #ngo_list .uk-list-line > li{
	padding-bottom:5px;
} */

.invalid{
	border-color: #dc8d99 !important;
	background: #fff7f8 !important;
	color: #c91032 !important;
}
.uk-pagination .active a{
	background:#e5097f;
	color:#fff;
}

/*Amount changer*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.amnt-changer{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; 
}